@font-face {
  font-family: "JetBrains Mono";
  src: url("/assets/fonts/JetBrainsMonoNLNerdFont-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "JetBrains Mono";
}

body {
  background-color: #24273a;
}

nav {
  display: flex;
  justify-content: center;
  height: 35px;
}

div {
  padding: 5px 5px 0px 5px;
  border: 2px solid #8aadf4;
  border-radius: 20px;
  color: #8aadf4;
}

div p {
    padding: 0px 5px 0px 5px;
  display: inline;
}

.selected {
  border: 2px solid #8aadf4;
  border-radius: 20px;
}
