@font-face {
  font-family: "JetBrains Mono";
  src: url("/assets/fonts/JetBrainsMonoNLNerdFont-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}

* {
  font-family: "JetBrains Mono";
}

body {
  background-color: #24273a;
}

.nav-container {
  display: flex;
  justify-content: center;
  height: 35px;
}


nav.nav-container div {
  position: relative;
  display: flex;        
  align-items: center;
  padding: 5px 15px;  
  border: 2px solid #8aadf4;
  border-radius: 25px;
  height: 40px; 
  box-sizing: border-box;
}

.nav-link {
  text-decoration: none;
  color: #8aadf4;
  padding: 0 15px;
  position: relative;
  z-index: 2;
}

.highlight {
  pointer-events: none;
  position: absolute;
  border: 2px solid #8aadf4;
  border-radius: 20px;
  height: 25px;
  top: 50%;
  transform: translateY(-50%); 
  transition: all 0.4s cubic-bezier(0.23, 1, 0.32, 1);
  z-index: 1;
}